process {
  executor = 'local'
  container = 'docker://quay.io/biocontainers/mge-pipeline:latest'
}

docker {
  enabled = false
}

singularity {
  enabled = false
}

params {
  publishDir = "${projectDir}/results"
}

manifest {
  name = 'MGE-Sift production pipeline'
  description = 'Production-ready Nextflow orchestration for the MGE detection workflow'
  author = 'MGE-Sift'
}
